on:
  schedule:
    - cron: "0 * * * *" # every hour
  workflow_dispatch:

name: Sync zizmor versions

env:
  BRANCH_NAME: sync-zizmor-versions

jobs:
  sync-versions:
    name: Sync zizmor versions
    runs-on: ubuntu-latest
    permissions:
      contents: write # to create PR branches
      pull-requests: write # to create PRs
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install dependencies
        run: sudo apt install -y skopeo jq

      - name: Sync zizmor versions
        run: ./support/sync-zizmor-versions.sh > ./support/versions

      - name: Create or update pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          branch: ${{ env.BRANCH_NAME }}
          delete-branch: true
          commit-message: Sync zizmor versions
          title: Sync zizmor versions
          body: |
            :robot: :warning: :robot:

            Changes were detected to the `ghcr.io/zizmorcore/zizmor` image's tags.

            This PR updates the `versions` file with any tag and digest changes.

            Please review manually before merging.

            Cross-reference: <https://ghcr.io/zizmorcore/zizmor>
          assignees: woodruffw
          draft: true
